*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;

}

body{

background:#000;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;

}

.container{

width:100%;
max-width:430px;

}

.logo{

display:flex;
justify-content:center;
align-items:center;
margin-bottom:25px;

}

.logo img{

width:320px;
max-width:95%;
border-radius:18px;
box-shadow:0 0 35px #FFD54F;
animation:brilho 2.5s infinite alternate;

}

@keyframes brilho{

from{

transform:scale(1);

box-shadow:0 0 15px #FFD54F;

}

to{

transform:scale(1.03);

box-shadow:0 0 45px #FFD54F;

}

}

h1{

text-align:center;
color:#FFD54F;
font-size:34px;
margin-bottom:35px;
text-shadow:0 0 12px #FFD54F;

}

.campo{

display:flex;
flex-direction:column;
margin-bottom:18px;

}

label{

color:#FFD54F;
margin-bottom:8px;
font-size:17px;

}

input{

height:58px;
background:#111;
border:2px solid #D4AF37;
border-radius:15px;
padding:15px;
font-size:18px;
color:white;
outline:none;
transition:.3s;

}

input:focus{

border-color:#FFD54F;
box-shadow:0 0 18px #FFD54F;

}

.linha{

display:flex;
gap:15px;

}

.metade{

flex:1;

}

button{

width:100%;
height:65px;
border:none;
border-radius:18px;
background:linear-gradient(90deg,#D4AF37,#FFD54F);
font-size:24px;
font-weight:bold;
cursor:pointer;
margin-top:20px;
transition:.3s;
box-shadow:0 0 25px #FFD54F;

}

button:hover{

transform:scale(1.02);

}

@media(max-width:480px){

.linha{

flex-direction:column;

}

.logo img{

width:280px;

}

h1{

font-size:28px;

}

}
